<%- include('head', {siteSection: 'Welcome'}); -%>
<%- include('nav'); %>
<div class="container">
Recent uploads:
</div>
<%- include('tail', { load: { modalSigninScript: true, formValidation: true, checkNames: true } } ); -%>
