<%- include('head', {siteSection: 'Welcome', load: { siteSets: true } }); -%>
<%- include('nav'); -%>
<div class="container">
<h1>Recent uploads</h1>
<p class="lead">These are the most recent uploads we received for each supported site.</p>
<div id="siteSets">
</div>
</div>
<%- include('tail', { load: { siteSets: true} } ); -%>
