<%- include('head', {siteSection: 'Recent uploads', load: { uploads: true } }); -%>
<%- include('nav'); -%>
<div class="container">
<h1>Recent uploads</h1>
<p class="lead">These are the most recent uploads we have received.</p>
<p>Select any upload to see its contents. Select a username to see all uploads by that user.
<table id="uploads" class="table table-hover table-responsive">
</table>
</div>
<%- include('tail', { load: { uploads: true } } ); -%>
