<%- include('head', {siteSection: 'Welcome', load: { dataTables: true } }); -%>
<%- include('nav'); %>
<div class="container">
<br>
<b>These are the most recent uploads we received for each supported site.</b>
<div id="siteSets">
</div>
</div>
<%- include('tail', { load: { modalSigninScript: true, formValidation: true, checkNames: true, dataTables: true, recentSiteSets: true} } ); -%>
