<%- include('head', {siteSection: 'Welcome', load: { dataTables: true } }); -%>
<%- include('nav'); %>
<div class="container">
<div id="collections">
</div>
</div>
<%- include('tail', { load: { modalSigninScript: true, formValidation: true, checkNames: true, dataTables: true, recentCollections: true} } ); -%>
