<%- include('head', {siteSection: 'Welcome', load: { viewSiteSets: true } }); -%>
<%- include('nav'); -%>
<div class="container">
<br>
<b>These are the most recent uploads we received for each supported site.</b>
<div id="siteSets">
</div>
</div>
<%- include('tail', { load: { signin: true, dataTables: true, viewSiteSets: true} } ); -%>
