<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">
    // Embedded scripts on this page are under the CC-0 license.
    // https://creativecommons.org/publicdomain/zero/1.0/
    // See: https://github.com/eloquence/freeyourstuff.cc
    </script>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title><%- conf.siteName -%>: <%- siteSection -%></title>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/hlkhpekhgcaigleojiocoeockhcaglia">
    <link href="<%- cssFile('main') -%>" rel="stylesheet">
    <% if (typeof load !== 'undefined' && (load.siteSets || load.uploads)) { %>
    <link href="<%- cssFile('datatables') -%>" rel="stylesheet" type="text/css">
    <% } %>
  </head>
