<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title><%- conf.siteName -%>: <%- siteSection -%></title>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/freeyourstuff.css" rel="stylesheet">
    <% if (load.dataTables) { %>
    <link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <% } %>
  </head>
