<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title><%- conf.siteName -%>: <%- siteSection -%></title>
    <link href="<%- cssFile('main') -%>" rel="stylesheet">
    <% if (typeof load !== 'undefined' && load.siteSets) { %>
    <link href="<%- cssFile('datatables') -%>" rel="stylesheet" type="text/css">
    <% } %>
  </head>
