<%- include('head', {siteSection: 'Welcome', load: {}}); -%>
<%- include('nav'); %>
<div class="jumbotron">
  <div class="container">
    <h1>Free your stuff!</h1>
    <p>
      <img src="/static/icon128.png" style="float:right;">
      Whether it's pictures, reviews, bookmarks or posts, you should get to
      control the stuff you make. Some sites make it easy for you to
      download your contributions, and others don't.
      <p>
      Now, with a single click, you can get a copy of your stuff from supported websites!
      And if you want, make it available in the
      <a href="https://creativecommons.org/publicdomain/zero/1.0/">public domain</a>
      so it can be used and built upon by the global open source community: the people who make things
      like Wikipedia, Linux, and much of the infrastructure that keeps the web running.
      <p>
      Here's how it works:<br>
      Download our extension and visit a supported website (currently: Yelp, IMDB, Amazon.com).<br>
      Click the icon (looks like the box with arrow above) to access your stuff.
      <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Download Chrome extension &raquo;</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Browse collections</h2>
      <p>Take a look at content that has been liberated so far.</p>
      <p>
        <a class="btn btn-default" href="browse" role="button">Browse &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Write a plugin</h2>
      <p>Contributing a plugin for your favorite website is not hard, as long as you know JavaScript.</p>
      <p>
        <a class="btn btn-default" href="#" role="button">Learn more &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Run a mirror</h2>
      <p>We need as many people as possible to maintain public copies of content that has been liberated, so it remains online forever.</p>
      <p>
        <a class="btn btn-default" href="#" role="button">Learn more &raquo;</a>
      </p>
    </div>
  </div>
</div>
<%- include('tail', { load: { modalSigninScript: true, formValidation: true, checkNames: true } } ); -%>
