<%- include('head', {siteSection: 'Welcome', load: {}}); -%>
<%- include('nav'); %>
<div class="jumbotron">
  <div class="container">
    <h1>Free your stuff!</h1>
    <p>
      <img src="/static/icon128.png" style="float:right;">
      Whether it's pictures, reviews, bookmarks or posts, you should get to
      control the stuff you make. Some sites make it easy for you to
      download your contributions, and others don't.
      <p>
      Now, with a single click, you can get a copy of your stuff from supported websites!
      And if you want, make it available in the
      <a href="https://creativecommons.org/publicdomain/zero/1.0/">public domain</a>
      so it can be used and built upon by the global <a href="https://en.wikipedia.org/wiki/Free_culture_movement">free culture movement</a>.
      <p>
      <u>We're in open alpha-testing - if you're feeling brave, give it a spin:</u><br>
      <ul><li><p><a href="https://github.com/eloquence/freeyourstuff.cc/archive/master.zip">Download</a> and unpack a copy of the latest version of our Chrome/Chromium extension.
        <li><p>Install the "extension" directory in developer mode, as per <a href="https://developer.chrome.com/extensions/getstarted#unpacked">these instructions</a>.</p>
        <li><p>Visit a supported site (currently
      <a href="https://www.yelp.com/" target="_new">Yelp</a>, <a href="http://www.imdb.com/" target="_new">IMDB</a>, <a href="https://www.tripadvisor.com/" target="_new">TripAdvisor</a>,
      <a href="https://www.amazon.com/" target="_new">Amazon.com</a>).</p>
      <li><p> Click the icon (looks like the box with arrow above) to access your stuff.</p>
        <li><p>Optionally, <a href="/register">create an account</a> here to share your stuff with the world.</p>
      </ul>
      <p><small><span style="color:red;font-weight:bold;">NOTE:</span>
      You may lose data submitted during the alpha-test as we iron out bugs.</small></p>
<!--      <a class="btn btn-primary btn-lg" href="#" role="button">Download Chrome extension &raquo;</a> -->
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Browse collections</h2>
      <p>Take a look at content that has been liberated so far.</p>
      <p>
        <a class="btn btn-default" href="browse" role="button">Browse &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Write a plugin</h2>
      <p>Contributing a plugin for your favorite website is not hard, as long as you know JavaScript.</p>
      <p>
        <a class="btn btn-default" href="plugins" role="button">Learn more &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Run a mirror</h2>
      <p>We need as many people as possible to maintain public copies of content that has been liberated, so it remains online forever.</p>
      <p>
        <a class="btn btn-default" href="mirrors" role="button">Learn more &raquo;</a>
      </p>
    </div>
  </div>
</div>
<%- include('tail'); -%>
