<%- include('head', {siteSection: 'Plugin docs', load: {}}); -%>
<%- include('nav'); %>
<div class="jumbotron">
  <div class="container">
    <h1>Run a mirror</h1>
    <p>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Browse collections</h2>
      <p>Take a look at content that has been liberated so far.</p>
      <p>
        <a class="btn btn-default" href="browse" role="button">Browse &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Write a plugin</h2>
      <p>Contributing a plugin for your favorite website is not hard, as long as you know JavaScript.</p>
      <p>
        <a class="btn btn-default" href="#" role="button">Learn more &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Run a mirror</h2>
      <p>We need as many people as possible to maintain public copies of content that has been liberated, so it remains online forever.</p>
      <p>
        <a class="btn btn-default" href="#" role="button">Learn more &raquo;</a>
      </p>
    </div>
  </div>
</div>
<%- include('tail', { load: { signin: true } } ); -%>
