<%- include('head', {siteSection: 'Plugin docs', load: {}}); -%>
<%- include('nav'); %>
<div class="container">
  <h1>Run a mirror</h1>
  <p class="lead">Lots of copies keep stuff safe! We hope you'll help us out by running a mirror of the content that's been liberated through the freeyourstuff.cc platform.</p>
  <p><a href="https://freeyourstuff.cc/latest">https://freeyourstuff.cc/latest</a> always redirects to the most recent dump of all publicly available freeyourstuff.cc data. Adding the following command to a daily cron job will download the latest version if it does not already exist locally, and store it with a name of the format <code>freeyourstuff-YYYY-MM-DD.tgz</code>:</p>
  <p><code>wget -N --content-disposition https://freeyourstuff.cc/latest</code></p>
  <p>The contents of the file are the result of a daily <a href="https://docs.mongodb.org/manual/reference/program/mongodump/">mongodump</a> run against all public collections (using the <code><a href="https://github.com/eloquence/freeyourstuff.cc/blob/master/service/dumper.js">service/dumper.js</a></code> script), so the files are in <a href="https://en.wikipedia.org/wiki/BSON">BSON</a> format. You can convert them to JSON using the <a href="https://docs.mongodb.org/manual/reference/program/bsondump/">bsondump</a> utility. Please consult the schemas for the relevant freeyourstuff.cc plugins (found in the plugin's directory in <code><a href="https://github.com/eloquence/freeyourstuff.cc/tree/master/extension/src/plugins">extension/src/plugins</a></code>) for metadata like field labels and descriptions. See the <a href="/plugins">plugin docs</a> for more info.</p>
  <p>If you run a public mirror, please submit a GitHub pull request for <a href="https://github.com/eloquence/freeyourstuff.cc/blob/master/service/templates/mirrors.ejs">this file</a> to add it to the list below.</p>
  <h3>Current mirrors</h3>
  <ul>
    <li><a href="https://communitydata.cc/mirrors/">communitydata.cc</a> - run by <a href="https://mako.cc/">Mako Hill</a>
    <li><a href="https://lib.reviews/static/downloads/freeyourstuff.cc">lib.reviews mirror</a> - sister project for <a href="https://lib.reviews/">free/open reviews</a>, run by Erik Moeller
    <li><a href="http://mirror.picosecond.org/freeyourstuff.cc/">a mirror</a> provided by <a href="https://www.picosecond.org/">Picosecond Software</a>
    <li><a href="https://mirrors.peers.community/mirrors/freeyourstuff.cc/">a mirror</a> provided by <a href="https://peers.community/">peers.community</a>
    <li><a href="https://mirrors.legoktm.com/freeyourstuff.cc/">a mirror</a> provided by <a href="https://legoktm.com/">Legoktm</a>
  </ul>
</div>
<%- include('tail'); -%>
