<%- include('head', {siteSection: 'Register'}); -%>
<div class="container top-margin">
Welcome! Thank you for joining the freeyourstuff.cc community. <span class="fa fa-smile-o"></span>
</div>
<%- include('register-dialog', { modal: false, registerMessages }); -%>
<%- include('tail', { load: { formValidation: true, checkNames: true } } ); -%>
