<div class="container">
  <hr>
  <footer>
    <p>freeyourstuff.cc is an
      <a href="https://github.com/eloquence/freeyourstuff.cc">open community project</a>. It was made with
      <span class="fa fa-heart" style="color:red;"></span>
      by
      <a href="https://twitter.com/xirzon">Erik Moeller</a>.</p>
    <p>
      <small>
        Privacy: If you give us your email, we won't spam you or give it to others. We use cookies for logins, and we keep ordinary server logs. No tracking, no ads, and the code is open.
      </small>
    </p>
  </footer>
</div>
<!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/lib/js/jquery.min.js"></script>
<script src="/static/lib/js/bootstrap.min.js"></script>
<script src="/static/lib/js/bootstrap-show-password.min.js"></script>
<script src="/static/lib/js/jquery.cookie.min.js"></script>
<script type="text/javascript">
  // Expose config variables
  window.config = <%- JSON.stringify(conf) -%>;

  // Expose user ID
  window.userID = <%- user ? JSON.stringify(user._id) : 'null' -%>;
</script>
<% if (load.viewSiteSets) { %>
  <script src="/static/lib/js/jquery.dataTables.min.js"></script>
  <script src="/static/lib/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">
  window.siteSets = <%- JSON.stringify(siteSets) -%>;
  </script>
  <script src="/static/viewSiteSets.js"></script>
<% } %>
<% if (load.signin) { %>
  <script src="/static/signin.js"></script>
<% } %>
</body>
</html>
