<%- include('head', {siteSection: 'Welcome', load: { dataTables: true } }); -%>
<%- include('nav'); %>
<div class="container">
  <div id="siteSet"></div>
</div>
<%- include('tail', { load: { signin: true, dataTables: true, view: true } } ); -%>
