<%- include('head', {siteSection: 'Welcome', load: { viewSiteSets: true } }); -%>
<%- include('nav'); %>
<div class="container">
  <div id="siteSets"></div>
</div>
<%- include('tail', { load: { signin: true, dataTables: true, viewSiteSets: true } } ); -%>
