<%- include('head', {siteSection: 'Welcome', load: { siteSets: true } }); -%>
<%- include('nav'); %>
<div class="container">
  <div id="siteSets"></div>
</div>
<%- include('tail', { load: { siteSets: true } } ); -%>
